# Air pollutants and happiness
Is there any correlation between the concentration of air pollutants and happiness?

In [12]:
# Load dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
# Read in the happiness csv files 
happiness_2015 = pd.read_csv('data/2015_happiness.csv')
happiness_2016 = pd.read_csv('data/2016_happiness.csv')
happiness_2017 = pd.read_csv('data/2017_happiness.csv')
# happiness_2017 = pd.read_csv('data/2017_happiness.csv')
happiness_2017

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

In [21]:
# Pull the Happiness Scores from 2015 and 2016 and merge together
happiness_score_2015 = happiness_2015[['Country', 'Happiness Score']]
happiness_scores = happiness_score_2015.merge(happiness_2016[['Country', 'Happiness Score']], on = 'Country')
happiness_scores = happiness_scores.merge(happiness_2017[['Country', 'Happiness.Score']], on = 'Country')
# # Rename columns
happiness_scores.rename(columns = {"Happiness Score_x" : "2015 Happiness Score", "Happiness Score_y" : "2016 Happiness Score", "Happiness.Score" : "2017 Happiness Score"}, inplace = True)
happiness_scores

,Country,2015 Happiness Score,2016 Happiness Score,2017 Happiness Score
0,Switzerland,7.587,7.509,7.494
1,Iceland,7.561,7.501,7.504
2,Denmark,7.527,7.526,7.522
3,Norway,7.522,7.498,7.537
4,Canada,7.427,7.404,7.316
...,...,...,...,...
141,Rwanda,3.465,3.515,3.471
142,Benin,3.340,3.484,3.657
143,Syria,3.006,3.069,3.462
144,Burundi,2.905,2.905,2.905
145,Togo,2.839,3.303,3.495

In [3]:
# Read  air particulates csv file
air_pollution_df = pd.read_csv('data/air_particulates.csv')
air_pollution_df

          Country Code  Year  Mean PM2.5 (ug/m3)
0     Afghanistan  AFG  1990           60.936690
1     Afghanistan  AFG  1995           56.136628
2     Afghanistan  AFG  2000           56.092028
3     Afghanistan  AFG  2005           43.234032
4     Afghanistan  AFG  2010           46.536809
...           ...  ...   ...                 ...
2635     Zimbabwe  ZWE  2012           23.359478
2636     Zimbabwe  ZWE  2013           23.448376
2637     Zimbabwe  ZWE  2014           23.072327
2638     Zimbabwe  ZWE  2015           24.371786
2639     Zimbabwe  ZWE  2016           24.513035

[2640 rows x 4 columns]

In [8]:
# Extract air pollution data for 2015 and 2016 and drop unneeded columns
air_contam_2015 = air_pollution_df[air_pollution_df['Year'] == 2015]
air_contam_2015 = air_contam_2015.drop(['Code','Year'], axis = 1).reset_index(drop = True)
air_contam_2016 = air_pollution_df[air_pollution_df['Year'] == 2016]
air_contam_2016 = air_contam_2016.drop(['Code','Year'], axis = 1).reset_index(drop = True)
# air_contam_2017 = air_pollution_df[air_pollution_df['Year'] == 2017]
# air_contam_2017

# Merge air contamination data for both years into a single dataframe
air_contam_by_year = air_contam_2015.merge(air_contam_2016, on = "Country", how = 'inner')
air_contam_by_year.rename(columns = {'Mean PM2.5 (ug/m3)_x' : '2015 Mean PM2.5 (ug/m3)', 'Mean PM2.5 (ug/m3)_y' : '2016 Mean PM2.5 (ug/m3)'}, inplace = True)
air_contam_by_year

            Country  2015 Mean PM2.5 (ug/m3)  2016 Mean PM2.5 (ug/m3)
0       Afghanistan                62.080234                62.854857
1           Albania                14.736548                14.634008
2           Algeria                37.035728                37.230956
3    American Samoa                 3.790379                 3.763412
4           Andorra                10.908934                10.879472
..              ...                      ...                      ...
235         Vietnam                26.396944                26.285906
236           World                49.104505                49.673465
237           Yemen                71.706947                72.553865
238          Zambia                30.402645                30.550295
239        Zimbabwe                24.371786                24.513035

[240 rows x 3 columns]

In [ ]:
# Merge air contaminant

In [26]:
# Extract the CO2 emissions data from 2017
CO2_emissions_df = pd.read_csv("data/co-emissions-per-capita.csv")
CO2_2017 = CO2_emissions_df[CO2_emissions_df["Year"] == 2017]

            Entity      Code  Year  CO2 emissions (tonnes per capita)
217    Afghanistan       AFG  2017                           0.366302
435        Albania       ALB  2017                           2.177065
653        Algeria       DZA  2017                           3.643711
871        Andorra       AND  2017                           6.758706
1089        Angola       AGO  2017                           1.188212
...            ...       ...   ...                                ...
42068      Vietnam       VNM  2017                           2.081064
42189        World  OWID_WRL  2017                           4.789870
42407        Yemen       YEM  2017                           0.671344
42625       Zambia       ZMB  2017                           0.277648
42843     Zimbabwe       ZWE  2017                           0.629025

[197 rows x 4 columns]